body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#game-canvas, #npc-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
